/* tr{
    border: 1px solid red;
}

td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;} */


    p.one {
        overflow: hidden;}
        p.two {
        overflow: scroll;}